* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* adding css for the main div */
.main {
  width: 100%;
  height:min-content;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  justify-content: center;
  display: flex;
 
}

.chooose-zone-div{
  align-items:center;
  display: flex;
  justify-content: center;
  border: #23d5ab;
}

.choose-zone-inner{
  display: flex;
  justify-content: center;
  border: #23d5ab 2px;
}

.upper-div{
  position: relative;
  height: 100vh;
}

.zone-btn {
  /* float: right; */
  background: linear-gradient(-45deg,  #e73c7e, #23a6d5,#b723d5b2, #ee7752);
  /* background: white; */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  font-weight: bolder;
  border: transparent;
  width: 300px;
  min-height: 5vh;
}

/* .join-btn {

  background: linear-gradient(-45deg,#e73c7e, #eeeb52, #d523b7ab, #23d5ab);
  
  
  
  font-weight: bolder;
  border: transparent;
  width: 200px;
  min-height: 5vh;
} */

.create-zone-card{
  /* background: linear-gradient(-45deg,#e73c7e, #eeeb52, #d523b7ab, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  color: white;
  width: 500px;
  height: 480px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.create-form-button{
  height: 100px;
  justify-content: center;
  display: flex;
  align-items:center; 
}

.form-control:focus {
  box-shadow: none;
}

.join-class-input::-webkit-input-placeholder {
  color: #e7f70a
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
